<%= simple_form_for @campaign do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :goal %>
  <%= f.input :ends_on %>
  <h2>Reward Levels</h2>
  <div id="reward-levels">
    <%= f.full_error :reward_levels %>
    <%= f.simple_fields_for :reward_levels do |rl| %>
      <%=  render "reward_level_fields", f: rl %>
    <% end %>    
  </div>
  <div class="links">
    <%= link_to_add_association 'add reward level', f, :reward_levels, class: "btn btn-info" %>
  </div>
  <br>
  <%= f.submit "Create Campaign" %>
<% end %>
